<!doctype html>
<head></head>
    <title>Site Antoine</title>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
    <script type=text/javascript src="{{ url_for('static', filename='jquery.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='jquery-ui.css') }}">
    <script type=text/javascript src="{{ url_for('static', filename='jquery-ui.js') }}"></script>
</head>


{% block body %}
<h1>Site d'Antoine</h1>

Bienvenue sur ma page

{% if resultat > 1 %}
<h2>Il y a {{ resultat }} entrées dans la base.</h2>
{% elif resultat > 0 %}
<h2>Il y a {{ resultat }} entrée dans la base.</h2>
{% endif %}


{% endblock %}
