<!doctype html>
<head></head>
    <title>Site Antoine</title>
    <link rel=stylesheet type=text/css href="http://site-antoine-dev.s3-website-eu-west-1.amazonaws.com/statics/style.css">
    <script type=text/javascript src="http://site-antoine-dev.s3-website-eu-west-1.amazonaws.com/statics/jquery.js"></script>
    <link rel="stylesheet" href="http://site-antoine-dev.s3-website-eu-west-1.amazonaws.com/statics/jquery-ui.css">
    <script type=text/javascript src="http://site-antoine-dev.s3-website-eu-west-1.amazonaws.com/statics/jquery-ui.js"></script>
</head>


{% block body %}
    <h1>Site d'Antoine</h1>

    <h3>Bienvenue sur ma page</h3>

    <a href="{{ url_for('visu_accidents') }}">Visualisation statistiques accidents de la route 2006-2011</a>

{% endblock %}
